<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="InputPath" value="C:\Interface\Preinput\"/>
		<add key ="ProcessPath" value="C:\Interface\Input\"/>
		<add key ="OutPath" value="C:\Interface\Repositorie\"/>
	</appSettings>
	<connectionStrings>
		<add name="DbConnect" connectionString="Data Source=DESKTOP-B7BLSN3\SQLEXPRESS;Initial Catalog=win-service;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>